@font-face{font-family:custom0;src:url("../fonts/digital-serial/digital-serial-regular.ttf");}

@font-face{font-family:custom1;src:url("../fonts/digital-serial/digital-serial-bold.ttf");}

@font-face{font-family:custom2;src:url("../fonts/digital-serial/digital-serial-xbold-regular.ttf");}










/*Small Size Styles*/
.navbar{font-family:custom0;font-size:1.3em;color:#ffffff;position:fixed;width:100%;z-index:9999;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:75px;height:auto;position:fixed;left:50px;top:100px;z-index:8888;}

.main-heading{font-family:custom2;color:#ffffff;font-size:3.5em;text-align:center;line-height:1;}

hr{position:relative;top:75px;}

.slogan{font-family:custom0;font-size:2em;color:#ffffff;margin-top:15px;text-align:center;}

.home-body{background-image:url("../images/home-background.jpg");background-repeat:no-repeat;background-position:right center;background-size:cover;background-attachment:fixed;}

.contact-body{background-image:url("../images/contact-background.jpg");background-repeat:no-repeat;background-position:right center;background-size:cover;background-attachment:fixed;}

.buyer-guide-body{background-image:url("../images/buyer-guide-background.jpg");background-repeat:no-repeat;background-position:right center;background-size:cover;background-attachment:fixed;}

.domain-name{width:100%;height:auto;display:block;margin:0 auto;}

.home-unordered-list{font-family:custom1;color:#ffffff;font-size:1.8em;}

.information-section{font-family:custom1;color:#ffffff;font-size:1.8em;padding-right:0;}

.secondary-information-section{font-family:custom1;color:#ffffff;font-size:1.8em;}

.secondary-heading{font-family:custom2;color:#ffffff;font-size:2.25em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{display:block;margin:0 auto;}

.da-footer{font-family:custom0;color:#ffffff;font-size:1.4em;}

.buyer-guide-image{width:100%;padding-left:0;padding-top:0;padding-bottom:0;}

.fab{color:#ffffff;font-size:3em;}

.fas{color:#ffffff;font-size:4em;}

.fal{color:#ffffff;font-size:4em;}




/*Medium Size Styles*/
@media (min-width:576px){
	
.navbar{font-size:1.7em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:100px;left:50px;top:125px;}

.main-heading{font-size:3.5em;text-align:center;line-height:1;}

hr{top:100px;}

.slogan{font-size:1.95em;margin-top:10px;text-align:center;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:100%;margin:0 auto;}

.home-unordered-list{font-size:1.9em;}

.information-section{font-size:1.9em;padding-right:0;}

.secondary-information-section{font-size:1.9em;}

.secondary-heading{font-size:2.45em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.7em;}

.buyer-guide-image{width:100%;padding-left:0;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}		
	
.fas{font-size:4em;}
	
.fal{font-size:4em;}

	
}


/*Large Size Styles*/
@media (min-width:768px){
	
.navbar{font-size:1.7em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:125px;left:50px;top:125px;}

.main-heading{font-size:3.2em;text-align:center;line-height:1;}

hr{top:100px;}

.slogan{font-size:1.75em;margin-top:10px;text-align:center;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:625px;margin:0 auto;}

.home-unordered-list{font-size:2.2em;}

.information-section{font-size:2.2em;padding-right:0;}

.secondary-information-section{font-size:2.2em;}

.secondary-heading{font-size:2.9em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.7em;}

.buyer-guide-image{width:100%;padding-left:0;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}		

.fas{font-size:4em;}
	
.fal{font-size:4em;}

	

	
}




/*XL Styles*/
@media (min-width:992px){
	
.navbar{font-size:1.7em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:125px;left:50px;top:125px;}

.main-heading{font-size:4.1em;text-align:center;line-height:1;}

hr{top:100px;}

.slogan{font-size:2.2em;margin-top:20px;text-align:center;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:825px;margin:0 auto;}

.home-unordered-list{font-size:2.2em;}

.information-section{font-size:2.2em;padding-right:0;}

.secondary-information-section{font-size:2.2em;}

.secondary-heading{font-size:2.9em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.7em;}

.buyer-guide-image{width:100%;padding-left:0;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}		

.fas{font-size:4em;}
	
.fal{font-size:4em;}
	
	
}



/*XXL Styles*/
@media (min-width:1200px){
	
.navbar{font-size:1.7em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:125px;left:50px;top:125px;}

.main-heading{font-size:4.5em;text-align:left;line-height:1;}

hr{top:100px;}

.slogan{font-size:2.45em;margin-top:20px;text-align:left;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:675px;margin:0 auto;}

.home-unordered-list{font-size:2.2em;}

.information-section{font-size:2.2em;padding-right:0;}

.secondary-information-section{font-size:2.2em;}

.secondary-heading{font-size:2.9em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.7em;}

.buyer-guide-image{width:95%;padding-left:1em;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}	

.fas{font-size:4em;}
	
.fal{font-size:4em;}
	
	
	
}




/*XXXL Styles*/
@media (min-width:1400px){
	
.navbar{font-size:1.9em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:125px;left:50px;top:125px;}

.main-heading{font-size:5.1em;text-align:left;line-height:1;}

hr{top:100px;}

.slogan{font-size:2.8em;margin-top:20px;text-align:left;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:800px;margin:0 auto;}

.home-unordered-list{font-size:2.2em;}

.information-section{font-size:2.2em;padding-right:2em;}

.secondary-information-section{font-size:2.2em;}

.secondary-heading{font-size:2.9em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.9em;}

.buyer-guide-image{width:95%;padding-left:1em;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}
			
.fas{font-size:4em;}
	
.fal{font-size:4em;}	
	
	
}





/*UHD Size Styles*/
@media (min-width:2000px){

.navbar{font-size:1.9em;}

.nav-item{margin-right:15px;}

.domainers-anonymous-logo{width:125px;left:50px;top:125px;}

.main-heading{font-size:6em;text-align:left;line-height:1;}

hr{top:100px;}

.slogan{font-size:3.2em;margin-top:25px;text-align:left;}

.home-body{}

.contact-body{}

.buyer-guide-body{}

.domain-name{width:1200px;margin:0 auto;}

.home-unordered-list{font-size:2.6em;}

.information-section{font-size:2.6em;padding-right:2em;}

.secondary-information-section{font-size:2.6em;}

.secondary-heading{font-size:3.5em;text-align:left;}

.card-info{margin-bottom:30px;}

.home-www-img{margin:0 auto;}

.da-footer{font-size:1.9em;}

.buyer-guide-image{width:90%;padding-left:8em;padding-top:0;padding-bottom:0;}

.fab{font-size:3em;}

.fas{font-size:4em;}
	
.fal{font-size:4em;}
	
	
}


